@import "tailwindcss";

/* Load Font */
@font-face {
  font-family: "ATRotisSemiSans_ExtraBold";
  src: url("/fonts/ATRotisSemiSans-ExtraBold.ttf") format("truetype"); /* Fallback */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ATRotisSemiSans_Light";
  src: url("/fonts/ATRotisSemiSans-Light.ttf") format("truetype"); /* Fallback */
  font-weight: normal;
  font-style: normal;
}

/* CSS Variables */
:root {
  --background: #3A53BA;
  
  /* Header Color */
  --header-color: #112A4D;

  /* Title and Body Text Colors */
  --dark-blue: #040dbf;
  --light-blue: #01f2f2;
  --gold: #f2df79;
  --orange: #F37406;

  /* Use the same font family with different weights */
  --rotis-extra-bold: "ATRotisSemiSans_ExtraBold", sans-serif;
  --rotis-light: "ATRotisSemiSans_Light", sans-serif;
}

/* Apply Global Styles */
body {
  background: var(--background);
  color: white;
  font-family: sans-serif; 
}

/* Title Styles */
.main-title{
  font-family: var(--rotis-extra-bold);
}

.subtitle{
  font-family: var(--rotis-light);
}
