@import "tailwindcss";

/* Load Font */
@font-face {
  font-family: "ATRotisSemiSans";
  src: url("/fonts/ATRotisSemiSans.ttf") format("truetype"); /* Fallback */
  font-weight: normal;
  font-style: normal;
}

/* CSS Variables */
:root {
  --background: #3A53BA;
  
  /* Header Color */
  --header-color: #112A4D;

  /* Title and Body Text Colors */
  --dark-blue: #040dbf;
  --light-blue: #01f2f2;
  --gold: #f2df79;
  --orange: #F37406;

  /* Use the same font family with different weights */
  --default-font-family: "ATRotisSemiSans", sans-serif;
}

/* Apply Global Styles */
body {
  background: var(--background);
  color: white;
  font-family: var(--default-font-family);
}

/* Title Styles */
.main-title {
  font-family: var(--default-font-family);
  font-weight: 800; /* Extra Bold */
}

.subtitle {
  font-family: var(--default-font-family);
  font-weight: 300; /* Light */
}
