.space{

    @media (max-width: 1200) {
        height: 300;
    }

    @media (max-width: 956) {
        height: 250;
    }
    
    @media (max-width: 805) {
        height: 200;
    }

    @media (max-width: 535) {
        height: 150;
    }
    
    @media (max-width: 526) {
        height: 100;
    }
    
    @media (max-width: 375) {
        height: 70;
    }
}

.SectionContainerStyle{
    
    @media (max-width: 805) {
        background-size: 100%;
    }

}